@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto';
    font-size: x-large;
    text-align:center;
}

.page{
    width:100vw;
    height: 100vh;
    padding:1rem;
    overflow:hidden;
    background:white;
    position:fixed;
    left:-100vw;
    transition: ease-in-out .5s;
    display:grid;
}

.show{
    left:0;
}

#name{
    grid-template-rows: 1fr 1fr;
    place-items:center;
}
#reject, #play{
    grid-template-rows: 1fr 1fr 1fr;
    place-items:center;
    padding-bottom: 70%;
}

#choice, #result {
    place-items:center;
}
.timer{
    font-size:3rem;
    color:#1AAE9F;
    font-weight:bold;
}
.hands{
    display:grid;
    grid-auto-flow:column;
    gap:.3rem;
}
.hand{
    width:4rem;
    height:4rem;
    border:4px solid #1AAE9F;
    border-radius: .3rem;
    display:grid;
    place-items:center;
    font-size:2rem;
    cursor:pointer;
}

.picture{
    display:grid;
    font-size: 4rem;
}

#name .input{
    align-self:flex-start;
    display:grid;
    gap:.5rem;
}

button{
    background-color: #1AAE9F;
    border:none;
    color: white;
    padding:.3rem;
    border-radius:.3rem;
    margin: 0 1rem 0 1rem;
    cursor:pointer;
}

input{
    border:1px solid #1AAE9F;
    padding:.3rem;
}

#playPicture{
    top: 10rem;
}

#playPalme{
    width: 25vw;
    height: auto;
    cursor: pointer;
}

#lodBanan{
    top: 43.6vh;
    right: 47.5vw;
    position: absolute;
    width: 5vw;
    height: auto;
}
#loadingGIF{
    right: 42vw;
    top: 32vh;
    position: absolute;
    width: 16vw;
    height: auto;
}
.scoreDiv{
    grid-template-rows: 1fr;
    height: 20vh;
    width: 40vw;
}







/* Styles til loading bar jeg ik selv kan forklare */
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
    align-self:flex-start;

  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #666;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }